# clangd & bear stuff
.cache/
compile_commands*.json

# build system stuff
Linux_Debug/
Linux_Release/
Windows/

# testing files
tests/

# castanet temporary output
.ping

# SublimeText project files
castanet.sublime-project
castanet.sublime-workspace
